<form class="form-inline d-flex" action="/search" method="GET" >
        <input type="search" , class="form-control rounded-pill" , placeholder="search...", name="query",>&nbsp;&nbsp;
        <button class="btn btn-outline-success btn-sm rounded-pill" type="submit">Search</button>
</form>