<form class="form-inline d-flex" action="/search" method="GET" >
        <input type="/search" , class="form-control" , placeholder="search...",name="query", method="GET">&nbsp;&nbsp;
        <button class="btn btn-outline-success btn-sm " type="submit">Search</button>
</form>