<%= render "/home/nav" %>
<div class="container mt-4 text-center">
<h1 class="font-weight-light"> Data Not Found</h1>
<p> Try Again Later</p>
<img src="https://img.freepik.com/free-vector/no-data-concept-illustration_114360-2506.jpg"  >
</div>