/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    // background-color: #fffc00 ;
    background-image: url("https://img.freepik.com/free-vector/gradient-instagram-social-media-background_23-2150983087.jpg?w=900&t=st=1710409980~exp=1710410580~hmac=05e7d68bbcb15d8792bededae2c166c2bbd6392a30803cb5d8487ef730866ec9");
    background-repeat: no-repeat;
    background-size: cover;
 }
 .child_box{
    border-radius: 10px;
    padding: 20px 20px;
 } 
 