.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    
    background-image: url("https://f.hellowork.com/blogdumoderateur/2023/05/Chiffres-TikTok-2023.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }
 .child_box{
    border-radius: 10px;
    padding: 20px 20px;
    background-color: white;
 }